@charset "UTF-8";
/* ------------ Обнуляющие стили ------------ */
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  position: relative;
  width: 100%;
  color: #161616;
  background-color: #f5fafe;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  font-family: "Lato Regular";
}

input,
textarea {
  font-family: "Lato Regular";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* --------------- Подключение шрифтов --------------- */
@font-face {
  font-family: "Lato Regular";
  src: url("../fonts/Lato-Regular.eot");
  src: local("☺"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato Light";
  src: url("../fonts/Lato-Light.eot");
  src: local("☺"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype"), url("../fonts/Lato-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*---------- Стили для секции header ----------*/
.wrapper {
  background: #fff;
}

.header {
  max-width: 100%;
  padding: 22px 0px 22px 0px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  max-width: 197px;
  height: 57px;
}

.header-logo__image {
  max-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -2px 0px 0px -40px;
}

.header-list__item {
  margin: 0px 20px 0px 20px;
}

.header-list__item-link {
  font-family: "Lato Regular";
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #161616;
}

.header-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header-button__image {
  max-width: 18px;
  min-height: 18px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: -2px 0px 0px 0px;
}

.header-button__link {
  margin: 0px 0px 0px 10px;
  font-family: "Lato Regular";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #4277ff;
}

/*---------- Стили для секции mainbg ----------*/
.mainbg {
  max-width: 100%;
  background: url("../image/index/optimized/bg_main.webp"), url("../image/index/bg_main-optimized.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  min-height: 750px;
  padding: 215px 0px 215px 0px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.mainbg-title {
  margin: 0px 0px 30px 0px;
}

.mainbg-title__text {
  font-family: "Lato Regular";
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
}

.mainbg-title__text:nth-child(2) {
  margin: -6px 0px 0px 6.23932%;
}

.mainbg-title__text:nth-child(3) {
  margin: -8px 0px 0px 13.07692%;
}

.mainbg-text {
  max-width: 880px;
  font-family: "Lato Light";
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin: 0px 0px 30px 0px;
}

.mainbg-button {
  max-width: 215px;
  min-height: 50px;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.07);
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.mainbg-button__button {
  max-width: 215px;
  min-height: 50px;
  padding: 14px 17px 14px 32px;
  background-color: transparent;
  font-family: "Lato Regular";
  font-weight: 700;
  font-size: 16px;
  line-height: 134.77%;
  color: #161616;
}

.mainbg-button__icon {
  width: 16px;
  height: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainbg-button__image {
  max-width: 100%;
}

/*---------- Стили для секции future ----------*/
.future {
  max-width: 100%;
  padding: 100px 0px 0px 0px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.future-title {
  font-family: "Lato Regular";
  font-weight: 800;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #161616;
  margin: 0px 0px 50px 0px;
}

.future-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.future-wrapper__item-1 {
  margin: 0px 15px 0px 0px;
  padding: 53px 63px 53px 63px;
  width: 370px;
  min-height: 230px;
  background: #4277ff;
  -webkit-box-shadow: 0px 4px 30px rgba(43, 90, 220, 0.2);
          box-shadow: 0px 4px 30px rgba(43, 90, 220, 0.2);
  border-radius: 20px;
}

.future-wrapper__item-2 {
  margin: 0px 0px 0px 15px;
  padding: 53px 28px 53px 28px;
  width: 370px;
  min-height: 230px;
  background: #fe7d34;
  -webkit-box-shadow: 0px 4px 30px rgba(254, 125, 52, 0.2);
          box-shadow: 0px 4px 30px rgba(254, 125, 52, 0.2);
  border-radius: 20px;
}

.future-wrapper__item-title {
  font-family: "Lato Regular";
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  margin: 0px 0px 24px 0px;
}

.future-wrapper__item-button-1 {
  margin: 0 auto;
  width: 244px;
  min-height: 40px;
  background: #ffffff;
  border-radius: 20px;
  cursor: pointer;
}

.future-wrapper__item-button-2 {
  margin: 0 auto;
  max-width: 280px;
  min-height: 40px;
  background: #ffffff;
  border-radius: 20px;
  cursor: pointer;
}

.button__1 {
  background-color: transparent;
  padding: 8px 27px 10px 27px;
  width: 244px;
  min-height: 40px;
  text-align: center;
  font-family: "Lato Regular";
  font-weight: 600;
  font-size: 14px;
  color: #161616;
}

.button__2 {
  max-width: 280px;
  min-height: 40px;
  background-color: transparent;
  padding: 7px 29px 10px 38px;
  text-align: center;
  font-family: "Lato Regular";
  font-weight: 600;
  font-size: 14px;
  color: #161616;
}

/*----- Стили для устройств с шириной экрана более 1200px -----*/
@media (min-width: 1200px) {
  .menu-burger {
    display: none;
  }
}

/*----- Стили для устройств с шириной экрана от 992px до 1199.9px-----*/
@media (min-width: 992px) and (max-width: 1199.9px) {
  .container {
    padding: 0px 15px 0px 15px;
  }
  .menu-burger {
    display: none;
  }
  .future {
    padding: 50px 0px 0px 0px;
  }
  .future-title {
    margin: 0px 0px 30px 0px;
  }
}

/*----- Стили для устройств с шириной экрана от 768px до 991.9px-----*/
@media (min-width: 768px) and (max-width: 991.9px) {
  .container {
    padding: 0px 15px 0px 15px;
  }
  .header-list {
    display: none;
  }
  .header-button {
    display: none;
  }
  .menu-burger {
    display: block;
  }
  .menu-burger__button {
    position: absolute;
    top: 22px;
    right: 25px;
    z-index: 100;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    background-color: rgba(66, 119, 255, 0.5);
    -webkit-transition: 0.45s;
    transition: 0.45s;
  }
  .menu-burger__button:hover .menu-burger__lines {
    -webkit-filter: brightness(0.7);
            filter: brightness(0.7);
  }
  .menu-burger__button:hover {
    background-color: rgba(66, 119, 255, 0.7);
  }
  .menu-burger__active .menu-burger__button {
    background-color: transparent;
  }
  .menu-burger__lines::before, .menu-burger__lines::after, .menu-burger__lines {
    position: absolute;
    width: 35px;
    height: 3px;
    background-color: #4277ff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .menu-burger__lines {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .menu-burger__lines::before {
    content: "";
    top: -12px;
  }
  .menu-burger__lines::after {
    content: "";
    top: 12px;
  }
  .menu-burger__active .menu-burger__lines {
    background-color: transparent;
  }
  .menu-burger__active .menu-burger__lines::before {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #fff;
  }
  .menu-burger__active .menu-burger__lines::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: #fff;
  }
  .menu-burger__list {
    padding: 150px 0px 70px 0px;
    position: absolute;
    top: 0;
    z-index: 20;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 80%;
    min-height: 100%;
    background-color: rgba(66, 119, 255, 0.8);
    overflow-y: auto;
    right: -150%;
    -webkit-transition: 0.8s;
    transition: 0.8s;
  }
  .menu-burger__active .menu-burger__list {
    right: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .menu-burger__item {
    margin: 35px auto;
  }
  .menu-burger__item-link {
    font-family: "Lato Light";
    font-weight: 300;
    font-size: 36px;
    line-height: 24px;
    color: #ffffff;
  }
  .menu-burger__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
  }
  .menu-burger__active .menu-burger__overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .future {
    padding: 50px 0px 0px 0px;
  }
  .future-title {
    margin: 0px 0px 30px 0px;
  }
  .future-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .future-wrapper__item-1 {
    margin: 0px 0px 20px 0px;
  }
  .future-wrapper__item-2 {
    margin: 0px 0px 0px 0px;
  }
}

/*----- Стили для устройств с шириной экрана от 480px до 767.9px-----*/
@media (min-width: 480px) and (max-width: 767.9px) {
  .container {
    padding: 0px 15px 0px 15px;
  }
  .header-list {
    display: none;
  }
  .header-button {
    display: none;
  }
  .menu-burger {
    display: block;
  }
  .menu-burger__button {
    position: absolute;
    top: 22px;
    right: 25px;
    z-index: 100;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    background-color: rgba(66, 119, 255, 0.5);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .menu-burger__button:hover .menu-burger__lines {
    -webkit-filter: brightness(0.7);
            filter: brightness(0.7);
  }
  .menu-burger__button:hover {
    background-color: rgba(66, 119, 255, 0.7);
  }
  .menu-burger__active .menu-burger__button {
    background-color: transparent;
  }
  .menu-burger__lines::before, .menu-burger__lines::after, .menu-burger__lines {
    position: absolute;
    width: 35px;
    height: 3px;
    background-color: #4277ff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .menu-burger__lines {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .menu-burger__lines::before {
    content: "";
    top: -12px;
  }
  .menu-burger__lines::after {
    content: "";
    top: 12px;
  }
  .menu-burger__active .menu-burger__lines {
    background-color: transparent;
  }
  .menu-burger__active .menu-burger__lines::before {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #fff;
  }
  .menu-burger__active .menu-burger__lines::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: #fff;
  }
  .menu-burger__list {
    padding: 150px 0px 70px 0px;
    position: absolute;
    top: 0;
    z-index: 20;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 90%;
    min-height: 100%;
    background-color: rgba(66, 119, 255, 0.8);
    overflow-y: auto;
    right: -150%;
    -webkit-transition: 0.8s;
    transition: 0.8s;
  }
  .menu-burger__active .menu-burger__list {
    right: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .menu-burger__item {
    margin: 25px auto;
  }
  .menu-burger__item-link {
    font-family: "Lato Light";
    font-weight: 300;
    font-size: 30px;
    line-height: 24px;
    color: #ffffff;
  }
  .menu-burger__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
  }
  .menu-burger__active .menu-burger__overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .mainbg {
    min-height: 550px;
    padding: 130px 0px 130px 0px;
  }
  .mainbg-title {
    margin: 0px 0px 20px 0px;
    text-align: center;
  }
  .mainbg-title__text {
    margin: 0px 0px 20px 0px;
  }
  .mainbg-title__text:nth-child(2) {
    margin: 0px 0px 20px 0px;
  }
  .mainbg-title__text:nth-child(3) {
    margin: 0px 0px 0px 0px;
  }
  .mainbg-text {
    margin: 0px 0px 20px 0px;
  }
  .mainbg-button {
    margin: 0 auto;
  }
  .future {
    padding: 50px 0px 0px 0px;
  }
  .future-title {
    margin: 0px 0px 30px 0px;
  }
  .future-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .future-wrapper__item-1 {
    margin: 0px 0px 20px 0px;
  }
  .future-wrapper__item-2 {
    margin: 0px 0px 0px 0px;
  }
}

/*----- Стили для устройств с шириной экрана от 320px до 479.9px-----*/
@media (min-width: 320px) and (max-width: 479.9px) {
  .container {
    padding: 0px 15px 0px 15px;
  }
  .header-list {
    display: none;
  }
  .header-button {
    display: none;
  }
  .menu-burger {
    display: block;
  }
  .menu-burger__button {
    position: absolute;
    top: 22px;
    right: 25px;
    z-index: 100;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    background-color: rgba(66, 119, 255, 0.5);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .menu-burger__button:hover .menu-burger__lines {
    -webkit-filter: brightness(0.7);
            filter: brightness(0.7);
  }
  .menu-burger__button:hover {
    background-color: rgba(66, 119, 255, 0.7);
  }
  .menu-burger__active .menu-burger__button {
    background-color: transparent;
  }
  .menu-burger__lines::before, .menu-burger__lines::after, .menu-burger__lines {
    position: absolute;
    width: 35px;
    height: 3px;
    background-color: #4277ff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .menu-burger__lines {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .menu-burger__lines::before {
    content: "";
    top: -12px;
  }
  .menu-burger__lines::after {
    content: "";
    top: 12px;
  }
  .menu-burger__active .menu-burger__lines {
    background-color: transparent;
  }
  .menu-burger__active .menu-burger__lines::before {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #fff;
  }
  .menu-burger__active .menu-burger__lines::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: #fff;
  }
  .menu-burger__list {
    padding: 100px 0px 70px 0px;
    position: absolute;
    top: 0;
    z-index: 20;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 100%;
    min-height: 100%;
    background-color: rgba(66, 119, 255, 0.8);
    overflow-y: auto;
    right: -150%;
    -webkit-transition: 0.8s;
    transition: 0.8s;
  }
  .menu-burger__active .menu-burger__list {
    right: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .menu-burger__item {
    margin: 15px 0px 15px 10%;
  }
  .menu-burger__item-link {
    font-family: "Lato Light";
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
  }
  .menu-burger__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
  }
  .menu-burger__active .menu-burger__overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .mainbg {
    min-height: 400px;
    padding: 50px 0px 80px 0px;
  }
  .mainbg-title {
    margin: 0px 0px 10px 0px;
    text-align: center;
  }
  .mainbg-title__text {
    font-size: 36px;
    margin: 0px 0px 7px 0px;
  }
  .mainbg-title__text:nth-child(2) {
    font-size: 36px;
    margin: 0px 0px 7px 0px;
  }
  .mainbg-title__text:nth-child(3) {
    font-size: 36px;
    margin: 0px 0px 0px 0px;
  }
  .mainbg-text {
    margin: 0px 0px 20px 0px;
  }
  .mainbg-button {
    margin: 0 auto;
  }
  .future {
    padding: 35px 0px 0px 0px;
  }
  .future-title {
    font-size: 28px;
    margin: 0px 0px 20px 0px;
  }
  .future-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .future-wrapper__item-1 {
    margin: 0px 0px 20px 0px;
    text-align: center;
    padding: 24px 0px 15px 0px;
    max-width: 290px;
    min-height: 190px;
  }
  .future-wrapper__item-2 {
    margin: 0px 0px 0px 0px;
    text-align: center;
    padding: 24px 0px 15px 0px;
    max-width: 290px;
    min-height: 190px;
  }
  .future-wrapper__item-title {
    font-size: 18px;
  }
  .future-wrapper__item-button-1 {
    width: 210px;
  }
  .future-wrapper__item-button-2 {
    width: 210px;
  }
  .button__1 {
    padding: 12px 27px 10px 27px;
    width: 210px;
    min-height: 34px;
    border-radius: 17px;
    font-size: 12px;
  }
  .button__2 {
    max-width: 210px;
    min-height: 34px;
    padding: 12px 10px 10px 10px;
    border-radius: 17px;
    font-size: 12px;
  }
}
