$fontfamily: "Lato Regular"; //</Шрифт по умолчанию
$colordefault: #ec1f46; // цвет по умолчанию
$colorfontdefault: #161616; // Цвет шрифта по умолчанию
$fontsizedefault: 18px; // Размер шрифта по умолчанию
$widthdefault: 1170px; // Ширина контейнера
$bgcolor: #f5fafe; //цвет страницы по умолчанию
