//Переменные
@import "_index-variables.scss"; // всегда подключать вначале
//
//
//
//Обнуление стилей
@import "_nullstyle.scss";
//Подкючение файлов шрифтов главной страницы
@import "index/_index-fonts.scss";
//Блок header
@import "index/_index-header.scss";
//Блок mainbg
@import "index/_index-mainbg.scss";
//Блок future
@import "index/_index-future.scss";
//Блок characters
@import "index/_index-characters.scss";
//Блок technologies
@import "index/_index-technologies.scss";
//Блок project
@import "index/_index-project.scss";
//Блок news
@import "index/_index-news.scss";
//Блок future
@import "index/_index-create-future";
//Блок warning
@import "index/_index-warning.scss";
//
//
//
//Медиа-запросы
@import "index/_index-media.scss"; //всегда подключать вконце
