/*---------- Стили для секции mainbg ----------*/
.mainbg {
     max-width: 100%;
     background: url("../image/index/optimized/bg_main.webp"), url("../image/index/bg_main-optimized.jpg");
     background-repeat: no-repeat;
     background-position: top center;
     background-size: cover;
     min-height: 750px;
     padding: 215px 0px 215px 0px;
     margin: 0px 0px 100px 0px;
}
.container {
     max-width: $widthdefault;
     margin: 0 auto;
}
.mainbg-title {
     margin: 0px 0px 30px 0px;
     &__text {
          font-family: $fontfamily;
          font-weight: 700;
          font-size: 48px;
          line-height: 58px;
          color: #ffffff;
     }
     &__text:nth-child(2) {
          margin: -6px 0px 0px 73px / $widthdefault * 100%;
     }
     &__text:nth-child(3) {
          margin: -8px 0px 0px 153px / $widthdefault * 100%;
     }
}
.mainbg-text {
     max-width: 880px;
     font-family: "Lato Light";
     font-weight: 300;
     font-size: 18px;
     line-height: 24px;
     color: #ffffff;
     margin: 0px 0px 30px 0px;
}
.mainbg-button {
     max-width: 215px;
     min-height: 50px;
     background: #ffffff;
     box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.07);
     border-radius: 25px;
     display: flex;
     align-items: center;
     cursor: pointer;
     &__button {
          max-width: 215px;
          min-height: 50px;
          padding: 14px 17px 14px 32px;
          background-color: transparent;
          font-family: $fontfamily;
          font-weight: 700;
          font-size: 16px;
          line-height: 134.77%;
          color: #161616;
     }

     &__icon {
          width: 16px;
          height: 16px;
          object-fit: cover;
     }

     &__image {
          max-width: 100%;
     }
}
