/*---------- Стили для секции news ----------*/
.news {
     max-width: 100%;
     margin: 0px 0px 100px 0px;
}
.container {
     max-width: $widthdefault;
     margin: 0 auto;
}
.news-title {
     font-family: $fontfamily;
     font-weight: 700;
     font-size: 36px;
     line-height: 48px;
     color: $colorfontdefault;
     text-align: center;
     margin: 0px 0px 16px 0px;
     letter-spacing: 0.3px;
}
.news-subtitle {
     font-family: "Lato Light";
     font-weight: 300;
     font-size: 18px;
     line-height: 24px;
     text-align: center;
     color: $colorfontdefault;
     margin: 0px 0px 43px 0px;
}
.news-wrap {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr;
     gap: 13px 30px;
     grid-template-areas:
          "block_1 block_1 block_4"
          "block_1 block_1 block_5"
          "block_2 block_3 block_6";
     &__block1 {
          max-width: 770px;
          min-height: 430px;
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
          border-radius: 20px;
          overflow: hidden;
          grid-area: block_1;
          cursor: pointer;
     }

     &__block2 {
          background: url("../image/index/optimized/picture_of_article.webp"),
               url("../image/index/picture_of_article_optimized.png");
          background-repeat: no-repeat;
          background-position: top center;
          background-size: cover;
          max-width: 370px;
          min-height: 208px;
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
          border-radius: 20px;
          padding: 124px 20px 4px 20px;
          overflow: hidden;
          grid-area: block_2;
     }

     &__block2-title {
          font-family: $fontfamily;
          font-size: 18px;
          line-height: 22px;
          color: #ffffff;
     }

     &__block2-subtitle {
          font-family: "Lato Light";
          font-size: 12px;
          line-height: 134.77%;
          color: #ffffff;
          margin: 0px 0px 20px 0px;
     }

     &__block3 {
          background: url("../image/index/optimized/picture_of_article_1.webp"),
               url("../image/index/picture_of_article_1_optimized.png");
          background-repeat: no-repeat;
          background-position: top center;
          background-size: cover;
          max-width: 370px;
          min-height: 208px;
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
          border-radius: 20px;
          padding: 124px 20px 4px 20px;
          overflow: hidden;
          grid-area: block_3;
     }

     &__block4 {
          background: url("../image/index/optimized/picture_of_article_3.webp"),
               url("../image/index/picture_of_article_3_optimized.png");
          background-repeat: no-repeat;
          background-position: top center;
          background-size: cover;
          max-width: 370px;
          min-height: 208px;
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
          border-radius: 20px;
          padding: 86px 20px 4px 20px;
          overflow: hidden;
          grid-area: block_4;
     }

     &__block4-wrap {
          display: flex;
          justify-content: flex-start;
          align-items: center;
     }

     &__block4-wrap-date {
          font-family: "Lato Light";
          font-weight: 300;
          font-size: 12px;
          line-height: 18px;
          color: #ffffff;
          margin: 0px 181px 0px 0px;
     }

     &__block4-wrap-icon {
          margin: 0px 5px 0px 0px;
     }

     &__block4-wrap-views {
          font-family: "Lato Light";
          font-weight: 300;
          font-size: 12px;
          line-height: 18px;
          color: #ffffff;
          margin: 0px 20px 0px 0px;
     }

     &__block4-wrap-likes {
          font-family: "Lato Light";
          font-weight: 300;
          font-size: 12px;
          line-height: 18px;
          color: #ffffff;
     }

     &__block5 {
          background: url("../image/index/optimized/picture_of_article_2.webp"),
               url("../image/index/picture_of_article_2_optimized.png");
          background-repeat: no-repeat;
          background-position: top center;
          background-size: cover;
          max-width: 370px;
          min-height: 208px;
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
          border-radius: 20px;
          padding: 146px 20px 4px 20px;
          overflow: hidden;
          grid-area: block_5;
     }

     &__block6 {
          max-width: 370px;
          min-height: 208px;
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
          border-radius: 20px;
          overflow: hidden;
          grid-area: block_6;
          cursor: pointer;
     }
}
