<<<<<<< HEAD
/*---------- Стили для секции future ----------*/

.future {
     max-width: 100%;
     padding: 100px 0px 0px 0px;
}
.container {
     max-width: $widthdefault;
     margin: 0 auto;
}
.future-title {
     font-family: $fontfamily;
     font-weight: 800;
     font-size: 36px;
     line-height: 48px;
     text-align: center;
     letter-spacing: 0.3px;
     color: $colorfontdefault;
     margin: 0px 0px 50px 0px;
}
.future-wrapper {
     display: flex;
     align-items: flex-start;
     justify-content: center;
     &__item-1 {
          margin: 0px 15px 0px 0px;
          padding: 53px 63px 53px 63px;
          width: 370px;
          min-height: 230px;
          background: #4277ff;
          box-shadow: 0px 4px 30px rgba(43, 90, 220, 0.2);
          border-radius: 20px;
     }

     &__item-2 {
          margin: 0px 0px 0px 15px;
          padding: 53px 28px 53px 28px;
          width: 370px;
          min-height: 230px;
          background: #fe7d34;
          box-shadow: 0px 4px 30px rgba(254, 125, 52, 0.2);
          border-radius: 20px;
     }

     &__item-title {
          font-family: $fontfamily;
          font-size: 24px;
          line-height: 30px;
          text-align: center;
          color: #ffffff;
          margin: 0px 0px 24px 0px;
     }

     &__item-button-1 {
          margin: 0 auto;
          width: 244px;
          min-height: 40px;
          background: #ffffff;
          border-radius: 20px;
          cursor: pointer;
     }

     &__item-button-2 {
          margin: 0 auto;
          max-width: 280px;
          min-height: 40px;
          background: #ffffff;
          border-radius: 20px;
          cursor: pointer;
     }
}

.button {
     &__1 {
          background-color: transparent;
          padding: 8px 27px 10px 27px;
          width: 244px;
          min-height: 40px;
          text-align: center;
          font-family: $fontfamily;
          font-weight: 600;
          font-size: 14px;
          color: $colorfontdefault;
     }

     &__2 {
          max-width: 280px;
          min-height: 40px;
          background-color: transparent;
          padding: 7px 29px 10px 38px;
          text-align: center;
          font-family: $fontfamily;
          font-weight: 600;
          font-size: 14px;
          color: $colorfontdefault;
     }
}
=======
/*---------- Стили для секции future ----------*/

.future {
     max-width: 100%;
     padding: 100px 0px 0px 0px;
}
.container {
     max-width: $widthdefault;
     margin: 0 auto;
}
.future-title {
     font-family: $fontfamily;
     font-weight: 800;
     font-size: 36px;
     line-height: 48px;
     text-align: center;
     letter-spacing: 0.3px;
     color: $colorfontdefault;
     margin: 0px 0px 50px 0px;
}
.future-wrapper {
     display: flex;
     align-items: flex-start;
     justify-content: center;
     &__item-1 {
          margin: 0px 15px 0px 0px;
          padding: 53px 63px 53px 63px;
          width: 370px;
          min-height: 230px;
          background: #4277ff;
          box-shadow: 0px 4px 30px rgba(43, 90, 220, 0.2);
          border-radius: 20px;
     }

     &__item-2 {
          margin: 0px 0px 0px 15px;
          padding: 53px 28px 53px 28px;
          width: 370px;
          min-height: 230px;
          background: #fe7d34;
          box-shadow: 0px 4px 30px rgba(254, 125, 52, 0.2);
          border-radius: 20px;
     }

     &__item-title {
          font-family: $fontfamily;
          font-size: 24px;
          line-height: 30px;
          text-align: center;
          color: #ffffff;
          margin: 0px 0px 24px 0px;
     }

     &__item-button-1 {
          margin: 0 auto;
          width: 244px;
          min-height: 40px;
          background: #ffffff;
          border-radius: 20px;
          cursor: pointer;
     }

     &__item-button-2 {
          margin: 0 auto;
          max-width: 280px;
          min-height: 40px;
          background: #ffffff;
          border-radius: 20px;
          cursor: pointer;
     }
}

.button {
     &__1 {
          background-color: transparent;
          padding: 8px 27px 10px 27px;
          width: 244px;
          min-height: 40px;
          text-align: center;
          font-family: $fontfamily;
          font-weight: 600;
          font-size: 14px;
          color: $colorfontdefault;
     }

     &__2 {
          max-width: 280px;
          min-height: 40px;
          background-color: transparent;
          padding: 7px 29px 10px 38px;
          text-align: center;
          font-family: $fontfamily;
          font-weight: 600;
          font-size: 14px;
          color: $colorfontdefault;
     }
}
>>>>>>> 0f63d313d9c4155d3543036d60579143961a7031
